<!DOCTYPE html>
<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <div class="jumbotron">
    <h1>Hearthstone Deck Builder</h1>
    <p class="lead">
      Create a new deck or select a previous decks to edit!
    </p>
    <p>
      <div class="form-group col-sm-8">
        <label>Deck Name</label>
        <input class="form-control" type="text" name="deckName" placeholder="Default Deck Name" ng-model="newDeck.deckName">
      </div>
      <div class="form-group col-sm-4">
        <label>Deck Class</label>
        <select class="form-control" name="deckClass" ng-model="newDeck.deckClass">
          <option ng-repeat="option in classOptions" value="{{option.value}}">{{option.name}}</option>
        </select>
      </div>
      <button type="button" class="btn btn-lg btn-success" ng-click="createNewDeck()">
        Create Deck
      </button>
    </p>
  </div>

  <div class="row marketing" style="text-align:center">

    <p ng-if="loading">Loading...</p>

    <div ng-repeat="deck in decks" class="col-sm-4">
      <h4>{{deck.deckName}}</h4>
      <img ng-src="{{deck.heroImg}}" alt="deck-image" />
      <!-- <h4>{{deck.deckName}}</h4> -->
      <button type="button" class="btn btn-default" style="width:100px" ng-click="editDeck(deck)">Edit</button>
      <button type="button" class="btn btn-warning" style="width:100px" ng-click="deleteDeck(deck)">Delete</button>
    </div>

  </div>
  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
  </div>
</div>
